{{ partial "header.html" . }}
	<div class="content">
		<div class="single">
			<article>
				<div class="featured-image">
						<img src="{{ .Params.image }}" alt="" class="img-responsive">
				</div>
				<h1>{{ .Title }}</h1>
				<time>{{ .Date.Format "02.01.2006" }}</time>
				<div>{{ .Description }}</div>
				<div>
					{{ .Content }}
				</div>
				<div>
					<ul id="tags">
						{{ range .Params.tags }}
						<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
						{{ end }}
					</ul>
				</div>
				<div>
					{{ template "_internal/disqus.html" . }}
				</div>
			</article>
		</div>
		{{ partial "footer.html" . }}
