{{ partial "header.html" . }}
	<div class="content">
			<article class="single">

				<div class="single-header">
					<div class="single-image">
							<img src="{{ .Params.image }}" alt="" class="img-responsive">
					</div>
					<div class="single-text">
						<time>{{ .Date.Format "02.01.2006" }}</time>
						<h1>{{ .Title }}</h1>
						<div class="author">por {{ .Params.author }}</div>
						<div class="single-description">{{ .Description }}</div>
					</div>
				</div>

				<div class="single-content">
					{{ .Content }}
				</div>

				<!-- <div>
					{{ template "_internal/disqus.html" . }}
				</div> -->
			</article>
			<hr>
		{{ partial "footer.html" . }}
