<article class="featured-article">
	<div class="featured-article_text">
			{{ if and (isset .Params "image") .Params.image }}
			<div class="featured_image">
					<img src="{{ .Params.image }}" alt="" class="img-responsive">
			</div>
			{{ end }}
			<h3 class="col-label">Articulos</h3>
			<h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
			<!-- <time>{{ .Date.Format "02.01.2006" }}</time>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }} -->
		<div>
			{{ .Description }}
			{{ .Params.author }}
		</div>
	</div>
</article>
