{{ partial "header.html" . }}
<div class="content">
	<!-- layout article single! -->
	<div class="col-1-1">
		<article>

			<div class="article_image">
					<img class="image" src="{{ .Params.image }}" alt="">
			</div>

			<div class="article_header">
				<h3 class="article_category">
					<!-- {{ .Params.categories }} -->
					{{ range .Params.categories }}
					{{ . }}
					{{ end }}
				</h3>
				<h1>{{ .Title }}</h1>
				<div class="author">Por {{ .Params.author }} — </div>
				<time>{{ .Date.Format "02.01.2006" }}</time>
			</div>
			<div class="article_content">
				{{ .Content }}
			</div>
			<div>
				<ul id="tags">
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
					{{ end }}
				</ul>
			</div>
			<div>
				{{ template "_internal/disqus.html" . }}
			</div>
		</article>

{{ partial "sidebar.html" . }}
</div>
{{ partial "footer.html" . }}
