/* ——————————————————————— Fonts */
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Regular-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Regular-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Regular-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Semibold-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Semibold-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Semibold-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Semibold-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Semibold-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: bold;
}
@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-regular-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-bold-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-bold.woff') format('woff'),
         url('/fonts/noe/noe-display-bold.eot') format('eot');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-black.woff') format('woff'),
         url('/fonts/noe/noe-display-black.eot') format('eot');
    font-weight: bolder;
    font-style: bolder;
}

/* ——————————————————————— Body */
* {
  box-sizing: border-box;
}
html, body{
  height:100%;
}
html {
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  font-family: "graphik", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
}

/* ——————————————————————— Layout */
.main {
  width: 100vw;
  max-width: 100rem;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 1.25rem;
  /*background: grey;*/
}
.header {
  /*background: lightgrey;*/
  position: relative;
  width: 16.666666666666668%;
  padding: 1.25rem;
  /*background: darkgrey;*/
}
.content {
  width: 83.33333333333333%;
  /*background: green;*/
}
.cols {
  display: flex;
  flex-wrap: wrap;
}
.col-1-2 {
  width: 40%;
  padding: 1.25rem;
  /*background: grey;*/
}
.col-2-2 {
  width: 60%;
  padding: 1.25rem;
  /*background: lightgrey;*/
}
.col-1-1 {
  width: 80%;
  padding: 1.25rem;
}
/*.col-2-2 p {
  padding: 1.25rem;
  background: grey;
  width: 100%;
  height: 10rem;
}
.col-1-2 p {
  padding: 1.25rem;
  background: lightgrey;
  width: 100%;
}
.col-2-2 p:first-child {
  height: 60vh;
}*/
.img-responsive {
  max-width: 100%;
  display: block;
  margin: 1rem 0;
}
footer {
  display: block;
  margin: 0;
  padding: 1.25rem;
  /*background: lightgrey;*/
  height: 100px;
  /*background: slategrey;*/
}
/* ——————————————————————— Header & nav */
header {
  position: fixed;
}
header nav {
  margin-top: 3rem;
  /*background-color: green;*/
}
header nav a {
  text-decoration: none;
  color: #000;
}
header nav ul {
  font-family: "noe-display";
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  /*background-color: green;*/
  list-style-type: none;
}
header nav li {
  margin: 0;
  padding: 0;
}


/* ——————————————————————— Media query */
@media all and (max-width: 48em) { /* -768px tablet portrait */
  .col-1-2, .col-2-2, .col-1-1 {
    width: 100%;
  }
}
@media all and (max-width: 40em) { /* -640 nav para mobile */
  .header {
    width: 100%;
    height: auto;
  }
  .content {
    width: 100%;
  }
  header {
    position: relative;
  }
}



/* ——————————————————————— General styles */
.news_post {
  /*line-height: 1.5em;*/
  margin-bottom: 3rem;
  /*background: darkgrey;*/
}
.news_post time {
  margin-right: 1rem;
}
.news_post h1, .news_post p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.news_post_content {
  margin-bottom: .5rem;
}
.news_post_meta, .news_post_author {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.featured-article {
  /*line-height: 1.5em;*/
  background: cornflowerblue;
  /*display: block;*/
  /*margin: 0;*/
  /*padding: 0;*/
  padding: 1.25rem;
  /*background: grey;*/
  width: 100%;
  height: auto;
  min-height: 80vh;
}
.featured-article_text {
  /*margin: 3em 1em 0 17.21%;*/
  /*margin: 1.25rem 0;*/
  width: 70%;
}
.noe-display {
  font-family: "noe-display";
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.featured-article h1 {
  font-size: 3.25rem;
  line-height: 1em;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.featured-article a {
    text-decoration: none;
    color: #000;
}
/*h1 {
  font-family: "noe-display";
}
articles h1 {
  font-family: "apercuregular";
}*/
