/* ——————————————————————— Fonts */
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Regular-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Regular-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Regular-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Semibold-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Semibold-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Semibold-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Semibold-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Semibold-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: bold;
}
@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-regular-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-bold-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}
@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-bold.woff') format('woff'),
         url('/fonts/noe/noe-display-bold.eot') format('eot');
    font-weight: bold;
    font-style: bold;
}
@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-black.woff') format('woff'),
         url('/fonts/noe/noe-display-black.eot') format('eot');
    font-weight: bolder;
    font-style: bolder;
}

/* ——————————————————————— Body */
html, body{
  height:100%;
}
html {
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  font-family: "graphik", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

/* ——————————————————————— Layout */
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  /*height: 500px;*/
  /*background-color: lightgrey;*/
}
.flex-item-1 {
  /*background-color: cornflowerblue;*/
  /*width: 20%;*/
  flex: 12.66%;
  /*background-color: grey;*/
  height: 92%;
  margin: 2%;
  /*padding: 2%;*/
}
.flex-item-2 {
  /*background-color: green;*/
  /*width: 40%;*/
  flex: 29.33%;
  height: 92%;
  margin: 2%;
  /*padding: 2%;*/
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /*margin: 1.5em;
  padding: 1.5em;*/
}
.flex-item-3 {
  background-color: cornflowerblue;
  flex: 46%;
  height: 92%; /*88*/
  margin: 2%;
  /*padding: 2%;*/
  /*width: 40%;*/
  /*margin: 1.5em;*/
  /*padding: 1.5em;*/
}
.flex-item-2col {
  flex: 70%;
  /*height: 88%;*/
  margin: 1.5%;
  padding: 1.5%;
}
.img-responsive {
  max-width: 100%;
  display: block;
  margin: 1em 0;
}

/* ——————————————————————— General styles */
.news_post {
  line-height: 1.5em;
  margin: 3em 0;
}
.news_post time {
  margin-right: 1em;
}
.news_post h1, .news_post p {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
.news_post_content {
  margin-bottom: .5em;
}
.news_post_meta, .news_post_author {
  margin: 0;
  padding: 0;
  font-size: 0.75em;
}

.featured-article {
  line-height: 1.5em;
}
.featured-article_text {
  margin: 3em 1em 0 17.21%;
}
.noe-display {
  font-family: "noe-display";
  font-weight: bolder;
  margin: 0;
  padding: 0;
}
.featured-article h1 {
  font-size: 3.25em;
  line-height: 1em;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.featured-article a {
    text-decoration: none;
    color: #000;
}
/*h1 {
  font-family: "noe-display";
}
articles h1 {
  font-family: "apercuregular";
}*/
