/* ——————————————————————— Body */
* {
  box-sizing: border-box;
}
html, body{
  height:100%;
}
html {
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
}

body {
  font-family: "graphik", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  margin: 0;
  background: #FFBF00;
}

a:link, a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: solid .075rem #000;
  /*background: #FFBF00;*/
}
a:hover {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}
/* ——————————————————————— Layout */
.main {
  width: 100vw;
  max-width: 100rem; /*1600px max*/
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  /*padding: 1.25rem;*/
  /*background: grey;*/
  background: #FFF;
}
.header {
  /*background: lightgrey;*/
  position: relative;
  width: 16.666666666666668%;
  padding: 1.875rem;
  /*background: darkgrey;*/
}
.content {
  width: 83.33333333333333%;
  /*background: green;*/
}
.cols {
  display: flex;
  flex-wrap: wrap;
}
.col-2-2 {
  width: 40%;
  padding: 1.875rem;
  /*background: grey;*/
  background: #FFBF00;
}
.col-1-2 {
  width: 60%;
  /*padding: 1.25rem;*/
  /*background: lightgrey;*/
  /*background: #3333ff;*/
}
.col-1-1 {
  width: 80%;
  padding: 1.875rem;
}
/*.col-2-2 p {
  padding: 1.25rem;
  background: grey;
  width: 100%;
  height: 10rem;
}
.col-1-2 p {
  padding: 1.25rem;
  background: lightgrey;
  width: 100%;
}
.col-2-2 p:first-child {
  height: 60vh;
}*/
.img-responsive {
  max-width: 100%;
  display: block;
  margin: 0 0 1rem 0;
}
footer {
  display: block;
  margin: 0;
  padding: 1.875rem;
  /*background: lightgrey;*/
  height: 100px;
  /*background: slategrey;*/
}
/* ——————————————————————— Header & nav */
header {
  position: fixed;
}
header nav {
  margin-top: 1rem;
  /*background-color: green;*/
}
header nav a {
  text-decoration: none;
  color: #000;
}
header nav ul {
  font-family: "noe-display";
  font-size: 1.25rem;
  line-height: 2em;
  margin: 0;
  padding: 0;
  /*background-color: green;*/
  list-style-type: none;
}
header nav li {
  margin: 0;
  padding: 0;
}
.header-logo {
  width: 4.125rem;
}
.logo-r {
  /*fill-rule:evenodd;clip-rule:evenodd;fill:#BF0000;*/
  fill: #BF0000;
}
.logo-- {
  /*fill-rule:evenodd;clip-rule:evenodd;fill:#FFBF00;*/
  fill: #FFBF00;
  /*fill: #000;*/
}
header a:link, header a:visited {
  color: #000;
  text-decoration: none;
  border-bottom: none;
}
/* ——————————————————————— General styles */
.col-label {
  font: bold .75rem "graphik";
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0;
  /*border-bottom: solid 2px #000;*/
}
.news_post {
  /*line-height: 1.5em;*/
  margin-bottom: 3rem;
  /*background: darkgrey;*/
}
.news_post time {
  margin-right: 1rem;
}
.news_post h1, .news_post p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}
.news_post_content {
  margin-bottom: .5rem;
}
.news_post_meta, .author {
  margin: 0;
  padding: 0;
  font-size: 0.75rem;
}

.featured {
  line-height: 1.5rem;
  /*background: #CCCCCC;*/
  /*display: block;*/
  /*margin: 0;*/
  /*padding: 0;*/
  padding: 1.875rem;
  /*background: grey;*/
  width: 100%;
  height: auto;
  /*min-height: 86vh;*/
  /*color: #fff;*/
  /*margin-bottom: 2.5rem;*/
}
.featured_text {
  /*margin: 3em 1em 0 17.21%;*/
  /*margin: 1.25rem 0;*/
  width: 100%;
}
/*.noe-display {
  font-family: "noe-display";
  font-weight: bolder;
  margin: 0;
  padding: 0;
}*/
.featured h1 {
  font-family: "noe-display";
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1em;
  font-weight: bolder;
  margin: 0 0 .5rem 0;
  padding: 0;
  /*color: #fff;*/
}
.featured a:link, .featured a:visited {
    text-decoration: none;
    /*color: #fff;*/
    border-bottom: none;
}
/*.featured:first-child {
  background-color: #3794a3;
}*/

/* ——————————————————————— Media query */
@media all and (max-width: 56em) { /* -900px */
  .col-1-2, .col-2-2, .col-1-1 {
    width: 100%;
  }
  .header {
    width: 25%;
  }
  .content {
    width: 75%;
  }
  .featured-article_text, .featured-lvl2_text {
    width: 100%;
  }
}
@media all and (max-width: 40em) { /* -650 nav para mobile */
  .header {
    width: 100%;
    height: auto;
  }
  .content {
    width: 100%;
  }
  header {
    position: relative;
  }
}
