{{ partial "header.html" . }}
	<div class="content">
		{{ range first 1 ((where .Data.Pages "Type" "article" ) ".Params.featured" "eq" "true") }}
			{{ .Render "summary" }}
		{{ end }}
		<div class="section-news">
			<!-- <h2 class="section-title">News</h2> -->
			<div class="news-columns">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 12 }}
        {{ range .Paginator.Pages }}
          {{ .Render "news-post"}}
        {{ end }}
			</div>
			{{ partial "pagination.html" . }}
			{{ partial "taxonomies-all.html" . }}
		</div>
		<div class="section-articles">
		{{ range first 2 ((where .Data.Pages "Type" "article" ) "Params.featured" "ne" "true") }}
			{{ .Render "summary" }}
		{{ end }}
		</div>
{{ partial "footer.html" . }}
