{{ partial "header.html" . }}
	<div class="content">
		{{ range where (where .Data.Pages "Type" "article" ) ".Params.featured" "true" }}
			{{ .Render "summary" }}
		{{ end }}
		<div class="section-news">
			<!-- <h2 class="section-title">News</h2> -->
			<div class="news-columns">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "post") 12 }}
        {{ range .Paginator.Pages }}
          {{ .Render "news-post"}}
        {{ end }}
			</div>
			{{ partial "pagination.html" . }}
			{{ partial "taxonomies-all.html" . }}
		</div>
		<div class="section-articles">
		{{ range first 3 (where .Data.Pages "Type" "article") }}
			{{ if (not (and (isset .Params "featured") .Params.featured)) }}
				{{ .Render "summary" }}
			{{ end }}
		{{ end }}
		</div>
{{ partial "footer.html" . }}
