  <footer>
    <p>&copy; {{ now.Year }} <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></p>
    <div class="social-links">
      <a href="http://www.facebook.com" target="_blank"><img src="/img/social/facebook.svg" alt="facebook"></a>
      <a href="http://www.twitter.com" target="_blank"><img src="/img/social/twitter.svg" alt="twitter">
      <a href="https://www.instagram.com/lar_ev/" target="_blank"><img src="/img/social/instagram.svg" alt="instagram">
    </div>
  </footer>

</body>
</html>
