@font-face {
  font-family: 'Graphik SB Web';
  src: url('Graphik-Semibold-Web.eot');
  src: url('Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
       url('Graphik-Semibold-Web.woff2') format('woff2'),
       url('Graphik-Semibold-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Graphik Web';
  src: url('Graphik-Regular-Web.eot');
  src: url('Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
       url('Graphik-Regular-Web.woff2') format('woff2'),
       url('Graphik-Regular-Web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Noe Display';
  src: url('Noe-Display-Black.eot') format('eot'),
       url('Noe-Display-Black.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik Condensed Web';
  src: url('GraphikXCondensed-Medium-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Medium';
  src: url('Druk-Medium-Cy-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Condensed Super';
  src: url('DrukCond-Super-Cy-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Action Condensed Medium';
  src: url('ActionCondensedMedium-Grade1-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Action Condensed Regular';
  src: url('ActionCondensedRegular-Grade1-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Noe Display Regular';
  src: url('Noe-Display-Regular.eot');
  src: url('Noe-Display-Regular.eot?#iefix') format('embedded-opentype'),
       url('Noe-Display-Regular.woff2') format('woff2'),
       url('Noe-Display-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Canela Deck Medium';
  src: url('CanelaDeck-Medium-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Canela Deck Regular';
  src: url('CanelaDeck-Regular-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Canela Deck Light';
  src: url('CanelaDeck-Light-Web.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
