{{ partial "header.html" . }}

<article class="grid">

	<div class="contact-page">
		<h1>{{ .Title }}</h1>
		<div class="contact-page-content">
			{{ .Content }}
		</div>

		<!-- <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
			<p class="hidden">
	    	<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
	  	</p>
		  <p>
		    <label>Nombre: <input type="text" name="name" /></label>
		  </p>
		  <p>
		    <label>Email: <input type="email" name="email" /></label>
		  </p>
		  <p>
		    <label>Mensaje: <textarea name="message"></textarea></label>
		  </p>
		  <div data-netlify-recaptcha="true"></div>
		  <p>
		    <button type="submit">Enviar</button>
		  </p>
		</form> -->

		<form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field" action="/contacto-confirmacion.html">
			<p class="hidden">
	    	<label>Don’t fill this out if you're human: <input name="bot-field" /></label>
	  	</p>

		    <label>Nombre:</label>
				<input type="text" name="name" />

		    <label>Email:</label>
				<input type="email" name="email" />

		    <label>Mensaje:</label>
				<textarea name="message"></textarea>

		  	<div data-netlify-recaptcha="true"></div>

		    <button type="submit">Enviar</button>

		</form>

	</div>

</article>

{{ partial "footer.html" . }}
