	<article class="news_post">

		{{ if and (isset .Params "image") .Params.image }}
 			<div class="news_post_image">
				<img src="{{ .Params.image }}" alt="">
			</div>
		<!-- <div class="news_post_image" style="background-image: url({{ .Params.image }})"></div> -->
		<!-- <div class="news_post_image"></div> -->
		{{ end }}

		<div class="news_post_text">
			<h1>{{ .Title }}</h1>
			<time>{{ .Date.Format "02.01.2006" }}</time>

			<div class="news_post_content">{{ .Content }}</div>

			<div class="author">{{ .Params.author }}</div>
			<div class="news_post_meta">
				{{ range .Params.tags }}
				<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				{{ end }}
			</div>
		</div>

	</article>
