	<article class="news_post">

		{{ if and (isset .Params "image") .Params.image }}
		<!-- <div class="news_post_image">
				<img src="{{ .Params.image }}" alt="" class="img-responsive"> -->
		<div class="news_post_image" style="background-image: url({{ .Params.image }}), repeating-linear-gradient(45deg,#f2f2f2,#f2f2f2 4px,#FFF 1px,#FFF 8px)"></div>
		<!-- <div class="news_post_image"></div> -->
		{{ end }}

		<h1>{{ .Title }}</h1>
		<time>{{ .Date.Format "02.01.2006" }}</time>

		<div class="news_post_content">{{ .Content }}</div>

		<div class="author">{{ .Params.author }}</div>
		<div class="news_post_meta">
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>

	</article>
