	<article class="news_post">

		{{ if and (isset .Params "image") .Params.image }}
		<div class="news_post_image">
				<img src="{{ .Params.image }}" alt="" class="img-responsive">
		</div>
		{{ end }}

		<h1>{{ .Title }}</h1>

		<div class="news_post_content">{{ .Content }}</div>

		<div class="news_post_meta">
			<time>{{ .Date.Format "02.01.2006" }}</time>
			{{ range .Params.tags }}
			<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
			{{ end }}
		</div>

		<div class="news_post_author">{{ .Params.author }}</div>
	</article>
