/* ——————————————————————— Fonts */
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Regular-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Regular-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Regular-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Regular-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'graphik';
  src: url('/fonts/graphik/Graphik-Bold-Web.eot'); /* IE9 Compat Modes */
  src: url('/fonts/graphik/Graphik-Bold-Web-.eot') format('embedded-opentype'), /* IE6-IE8 */
       /*url('webfont.woff2') format('woff2'),*/ /* Super Modern Browsers */
       url('/fonts/graphik/Graphik-Bold-Web.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/graphik/Graphik-Bold-Web.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/graphik/Graphik-Bold-Web.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: bold;
  font-style: bold;
}
/*@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-regular-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: "apercu";
    src: url('/fonts/apercu/apercu-bold-webfont.woff2') format('woff2'),
         url('/fonts/apercu/apercu-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: bold;

}*/
@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-black.woff') format('woff'),
         url('/fonts/noe/noe-display-black.eot') format('eot');
    font-weight: bold;
    font-style: bold;
}
/*@font-face {
    font-family: "noe-display";
    src: url('/fonts/noe/noe-display-black.woff') format('woff'),
         url('/fonts/noe/noe-display-black.eot') format('eot');
    font-weight: bolder;
    font-style: bolder;
}*/
